.ui.inverted.menu {
  background: #6441a4 !important;
  border-radius: 0px;
}

.navbar-clips-header {
  display: flex;
  color: white;
  font-family: 'Bangers';
  font-size: 3em;
  align-items: center;
}

.float-right {
  float: right;
}

.card-description-username {
  display: flex;
  align-items: stretch;
}

.app-clips-title {
  display: flex;
  color: #6441a4;
  height: 1.8em;
  font-family: 'Bangers';
  font-size: 2.7em;
  align-items: center;
}

.clipview-broadcaster {
  font-size: 1.6em;
}

iframe {
  display: block;
}